<!-- Modal -->
<div
	class='modal fade'
	id='exampleModalDelete'
	tabindex='-1'
	aria-labelledby='exampleModalLabel'
	aria-hidden='true'
>
	<div class='modal-dialog modal-dialog-centered'>
		<div class='modal-content'>

			<div class='modal-body'>
				¿Estas seguro de eliminar este TODO?
			</div>
			<div class='modal-footer'>
				<button
					type='button'
					class='btn btn-secondary'
					data-bs-dismiss='modal'
				>Cancelar</button>
				<button
					type='button'
					class='btn btn-danger'
					id='delete-btn'
				>Eliminar</button>
			</div>
		</div>
	</div>
</div>