<nav class='navbar navbar-dark bg-primary'>
	<div class='container'>
		<a class='navbar-brand' href='#'>SimpleWeb</a>
		{{! <div> }}

		{{! <span class='badge badge-pill badge-dark'>4</span> }}
		{{! </div> }}

	</div>
</nav>